.primary-nav {
  position: relative;
}

.primary-nav__loading {
  line-height: 44px;
}

.primary-nav__list {
  align-items: center;
}

.primary-nav__list-item {
  text-align: center;
}

/**
 * 1. Ensures the primary nav bottom-border doesn't get obscured by the
 *    mega-nav dropdown
 */
.primary-nav__list-item-node {
  position: relative;
  z-index: 1; /* [1] */
  display: block;
  margin-bottom: -2px;
  padding: 15px 10px 13px;
  text-decoration: none;
  border-bottom: 0.25rem solid transparent;
}

.primary-nav__list-item:focus-within .primary-nav__list-item-node,
.primary-nav__list-item:hover .primary-nav__list-item-node {
  border-color: var(--theme-branded);
}

.primary-nav__list-item-node--active {
  border-color: var(--theme-branded-secondary);
}

.primary-nav__list-item-text {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.1666666667;
}
